* {
    /* Está dizendo que tudo não terá margem externa e interna */
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
  }
  
  /* referente ao corpo do site */
  body {
    background-color:rgb(255, 255, 255);
  }
  
  /* Inicio menu */
  .menu {
    background-color: black;
    display: inline-block;
    /* Deixa os elementos lado a lado dando aspecto de menu */
    width: 100%;
    /* Toca da extremidade esquerda à direita */
  }
  
  .menu ul {
    list-style: none;
    /* Tira o estilo da lista, no caso tira a bolinha que fica na esquerda do item */
  }
  
  .menu ul li {
    display: inline;
    /* Os elementos da lista passam a ficar alinhados horizontalmente */
  }
  
  .menu ul li .nao_selec {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: black;
    padding: 20px;
    margin-left: 25px;
    float: left;
    /* Define o seu posicionamento na ESQUERDA */
    text-decoration: none;
    /* Tira o estilo da lista, no caso tirou o sublinhado */
  }
  
  .menu ul li .selecionado {
    font-size: 20px;
    background-color: rgb(0, 153, 255);
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    padding: 25px;
    margin-left: 25px;
    float: left;
    text-decoration: none;  
  }
  
  .menu ul li .nao_selec:hover {
    /* O Hover acontece no momento em que passamos o mouse sobre um objeto */
    transform: scale(1.2);
    /* Transforma a escala, aumentando em 20% */
    background-color: rgb(0, 153, 255);
  }
  
  /* fim menu */

  /* começo do corpo da página*/
  .titulo {
      font-family: cursive;
      font-size: 20px;
      text-align: center;
      margin: 40px;
      color: #FF2020;
  }
      @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; } 
        }
        @-moz-keyframes fadeIn {
        0% { opacity: 0;}
        100% { opacity: 1; }
        }
        @-o-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
        }
        @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
        }

.fadeIn {
 -webkit-animation: fadeIn 3s ease-in-out;
 -moz-animation: fadeIn 3s ease-in-out;
 -o-animation: fadeIn 3s ease-in-out;
 animation: fadeIn 3s ease-in-out;
 }

 .produtos {
     font-family: cursive;
     font-size: 18px;
     color: green;

 }
    
 .corpo {
    font-family: cursive;
    font-size: 18px;
    color: black;
    text-align: left;
    margin: 15px;
 }

 .li {
    font-family: cursive;
    font-size: 18px;
    color: black;
    text-align: left;
    margin: 50px;

 }

 .sobre_nos{

 }

 .circulo {
    border-radius:100%;
    border:8px solid rgb(0, 0, 0);
    width:180px;
    height:150px;
    background-color:rgb(255, 255, 255);
    margin: 10px;

 }

 #services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
  }
  
  .box {
    padding: 20px 10px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 50px;
    position: relative;
    background: #c92d2d;
    float: left;
  }
  

  #services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .description {
    font-size: 14px;
    line-height: 24px;
  }
 